html,body{
    margin: 0;
    
}

.container{
    display: flex;
    border: 1px solid black;
    width: 100%;
}

.container .container_1{
    width: 50%;
    border: 1px solid black;
}

.container .container_2{
    width: 50%;
    text-align: center;
}

.container .container_2 img{
    width: 70%;
}

h1{
    text-align: center;
    padding-top: 100px;
}